[core]
	pager = delta

[fetch]
	prune = true

[pull]
	rebase = true

[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false

[alias]
	mylog = "!f() { git fetch --all --quiet && git log --author=\"$(git config user.email)\" --all --date-order --format=mylog --date=format-local:'%Y-%m-%d %H:%M' \"$@\"; }; f"
	amend = commit --all --amend --no-edit
	co = checkout
	ck = "!f() { git fetch origin && git checkout -B $1 origin/$1; }; f"
	sw = switch
	st = !git status "$@" && echo '\n\nLast commit:\n' && git log -1 --format=short
	ll = log -50
	lb = log --first-parent --ignore-missing HEAD ^origin/master ^origin/main ^upstream/master ^upstream/main
	lg = log --graph --all -50
	pr = pull --rebase
	cm = commit --all --message
	dh = diff HEAD
	dp = diff HEAD^
	aa = add --all
	fa = fetch --all

[format]
	pretty = simple

[pretty]
	simple = "%C(#6F4E37)%h  %C(#A67B5B)%as  %<(20,trunc)%C(#ECB176)%an%C(reset)  %<(60,trunc)%s %C(#FED8B1)%d"
	mylog = "%C(#6F4E37)%h  %C(#A67B5B)%ad%C(reset)  %s"

[interactive]
	diffFilter = delta --color-only

[merge]
	# conflictStyle = zdiff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[delta]
	navigate = true
	side-by-side = true
	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
	hunk-header-style = omit
	grep-match-word-style = "brightwhite bold 88"
	blame-palette = 232 233 234 235 236 237 238 239 240 241 242 243
